@media (max-width: 450px){
    header{
        font-family: 'Montserrat', sans-serif;
        width: 100vw;
        height: 100px;
        background:url("../images/background_header.avif") no-repeat;
    }
    header ul{
        display: flex;
        padding: 10px;
        justify-content: center;
        
    }
    header ul li{
        display: flex;
        margin-top: 40px;
    }
    header ul li a{
        color: #fff;
        padding: 15px 5px;
    }
    /*Avatar*/
    #apresentation{
        width: 100vw;
    }
    #apresentation img{
        width: 100%;
        height: auto;
    }
    /*Main*/
    main{
        font-family: 'Montserrat', sans-serif;
        width: 100vw;
        min-height: 100vh;
    }
    main h1{
        font-family: 'Inter', sans-serif;
    }
    main #intro{
        color: #fff;
        padding: 30px 25px;
        text-align: justify;
        background: url('../images/background.avif')no-repeat;
        background-size: cover;
    }
    main #intro p{
        padding: 20px 0;
    }

    /*Projects*/
    #projects{
        font-family: 'Montserrat', sans-serif;
        background: url('../images/backgroundProjects.jpg') ;
        width: 100vw;
        color: #fff;
    }

    #projects h2, #aboutMe h2, #contact h2{
        font-family: 'Inter', sans-serif;
        text-decoration: underline;
        text-align: center;
        padding: 30px 25px;

    }
    #projects p, #aboutMe p, #contact p{
        text-align: justify;
        font-weight: 400;
        padding: 0 15px 30px 15px;
    }
    /*About me*/
    #aboutMe{
        font-family: 'Montserrat', sans-serif;
        background: url('../images/backgroundContact.jpg') no-repeat;
        background-size: cover;
        color: #fff;
    }
    #contact{
        padding-top: 50px;
        background: url('../images/backgroundContact.jpg') no-repeat;
        background-size: cover;
        color: #fff;
    }
    #contact div{
        display: flex;
        justify-content: center;
        gap: 15px;
        width: 100%;
        color: #fff;
        padding-bottom: 30px;
    }
    #contact div a{
        color: #fff;
        font-size: 32px;
    }
}