/*Header*/
header{
    font-family: 'Montserrat', sans-serif;
    border: solid 1px black;
    height: 100px;
    background-color: #252525;
    font-size: cover;
}
header ul{
    height: 100px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
}
header ul li a{
    color: #fff;
}
header ul li a:hover{
    border-bottom: solid 2px #fff;
}

/*Main*/
main{
    display: grid;
    grid-template-areas: "apresentation intro";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 680px);
    background-color: #413f3f;
}
#apresentation{
    grid-area: apresentation;
    display: flex;
    justify-content: center;
    align-items: center;
}
#apresentation img{
    width: 60%;
    height: 70%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
}
#intro{
    grid-area: intro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 20px;
    color: #fff;
}
#intro p{
    width: 80%;
}
/*Projects*/
#projects{
    display: grid;
    grid-template-areas: 'spaceTourism landingPage'
                         'validation countryFlags';
    
}
#spaceTourism,#landingPage, #validation, #countryFlags{
    grid-area: spaceTourism;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #413f3f;
    color: #fff;
    border-right: 2px solid #252525;
}
#spaceTourism p, #landingPage p, #validation p, #countryFlags p{
    text-align: center;
    width: 70%;
}
#landingPage{
    grid-area: landingPage;
}
#validation{
    grid-area: validation;
}
#countryFlags{
    grid-area: countryFlags;
}
#aboutMe{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 20px;
    color: #fff;
    background-color: #252525;
    border-top: solid 2px #252525;
}
#contact{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 20px;
    color: #fff;
    background-color: #413f3f;
    border-top: solid 2px #252525;
}
#contact i{
    font-size: 45px;
    padding: 10px 30px;
}
#contact i:hover{
    color: #fff;
}
footer{
    background-color: #252525;
    color: #fff;
    padding: 100px;
    text-align: center;
}